extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.abs() applied to #{val} is #{f1}
  p Math.acos() applied to #{val} is #{f2}
  p Math.sin() applied to #{val} is #{f3}
  p Math.sinh() applied to #{val} is #{f4}